@import "https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css";

body {
  margin: 0;
  font-family: 'NanumSquare';
  font-size: 15px;
  color: '#252525';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
